@media (max-width: 900px) {
  #contenido{
    width: 100%;
  }

  header{
    text-align: center;
  }

  div.bloque{
    padding: 5%;
  }

  h2{
    margin: 0;
  }

  .columna {
    padding: 2vh 10%;
  }

  .imagen-galeria {
    padding: 2%
  }

}

@media (min-width: 900px) {
  #contenido{
    max-width: 900px;
    margin: 0 auto;
  }

  header{
    padding: 3vh;
  }

  h1{
    float: left;
    margin:0;
  }

  nav{
    float: right;
  }

  #imagen-secundaria {
    display: flex;
    flex-flow: row nowrap;
  }

  footer {
    display: flex;
    flex-flow: row nowrap;
  }

  .columna {
    width: 25%;
    padding: 0 5% 2% 5% ;
  }

  #galeria {
    display: flex;
    flex-flow: row wrap;
  }

  .imagen-galeria {
    width: 31%;
    padding: 1%
  }
}

body{
  font-family: 'Dancing Script', cursive;
  background: #02010a;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

h1{
  color:white;
  text-shadow: 2px 2px #02010a;
  padding: 1vh;
}

#menu ul{
  padding: 0;
}

#menu li {
  display: inline;
  padding: 2vh;
}

#menu li a {
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#menu .active {
  text-decoration: none;
}

div> img {
  box-shadow: 2px 2px #02010a;
  width: 90%;
}

p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

#imagen-central {
  background: #82c3a6;
}

#imagen-secundaria {
  background: #d5c75f;
  border: 1px;
  text-decoration: underline;
}

#izq:hover {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  box-shadow:2px 2px #82c3a6;
}

#der:hover {
  -ms-transform: translate(20px, -5px);
  -webkit-transform: translate(20px, -5px);
  -moz-transform: translate(20px, -5px);
  transform: translate(20px, -5px);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  box-shadow:2px 2px #82c3a6;
}

.bloque {
  padding: 2.5%;
  text-align: center;
}

footer {
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}

#galeria {
  background: #d5c75f;
  text-align: center;
  padding: 2%
}

#img1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.pares{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#img3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

#social {
  list-style: none;
  padding: 0;
  margin: 0;
}

#social li a{
  text-decoration: none;
}

.icon {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}
